---
layout: cv
permalink: /cv/
title: CV
---

<section class="container">

<h1><a href="{{ absolute_url }}/">Shuchang Xu</a></h1>

<small class="live-link">Last updated in <time datetime="{{ site.time }}">{{ site.time | date: '%B %Y'}}</time>. Latest version at <a href="{{ '/cv' | absolute_url }}">shuchangxu.github.io/cv</a>.</small>

<div class="header-columns">
  <div>
    <p>
      Ph.D. candidate at HKUST<br/>
      Visiting student at the MIT Media Lab
    </p>
  </div>
  <div>
    <ul class="right-align">
      <li><i class="fa-solid fa-file-pdf muted"></i> <a href="{{ '/assets/files/ShuchangXu-CV.pdf' | relative_url }}">PDF version</a></li>
    </ul>
  </div>
</div>

<h2>Research Area</h2>

<p>
My research focuses on <strong>AI-powered assistive systems that enhance human cognition</strong>, with a particular focus on three cognitive pillars: <a href="{{ '/research/' | absolute_url }}#perception-support---accessing-digital-media">perception</a>, <a href="{{ '/research/' | absolute_url }}#memory-and-reasoning-support">memory</a>, and <a href="{{ '/research/' | absolute_url }}#behavior-and-learning-support">behavior</a>.
</p>

<h2>Education</h2>

{% for ed in site.data.education %}
  <div class="date-container">
    <span class="date">{{ ed.years | replace: "-", "–" }}</span>
    <strong class="fill">{{ ed.degree }}, {{ ed.university }}</strong>
    <span class="right">{{ ed.location }}</span>
  </div>
  <p>
    {% for des in ed.description %}
      <span>{{ des | markdownify | remove: '<p>' | remove: '</p>' }}</span>{% unless forloop.last %}<br/>{% endunless %}
    {% endfor %}
  </p>
{% endfor %}


<h2>Working Experience</h2>

{% assign filtered_positions = site.data.positions | where_exp:'item','item.hidden == null' %}
{% for pos in filtered_positions %}
  <div class="date-container">
    <span class="date">{{ pos.years | replace: "-", "–" }}</span>
    <strong class="fill">{{ pos.company }}</strong>
    <span class="right">{{ pos.location }}</span>
  </div>
  <div>
    {{ pos.title }}{% if pos.short_desc %}, {{ pos.short_desc | markdownify | remove: '<p>' | remove: '</p>' }}{% endif %}
  </div>
{% endfor %}


<h2>Selected Awards</h2>

{% for award in site.data.awards %}
  <div class="date-container">
    <span class="date">{{ award.years | replace: "-", "–" }}</span>
    <strong class="fill">{{ award.name }}</strong>
    <span class="right">{{ award.sponsor }}</span>
  </div>
  {% if award.description %}
    <p class="muted">{{ award.description }}</p>
  {% endif %}
{% endfor %}


<h2>Publications <a href="{{ '/publications/' | absolute_url }}">[Interactive Version]</a></h2>

{% assign sorted_pubs = site.publications | where_exp:"p","p.type contains 'Conference' or p.type contains 'Journal'" | sort: 'cv_order' %}

{% for pub in sorted_pubs %}
  <div class="pub">
    <div class="ref-container">{{ forloop.index }}</div>
    <strong class="fill">{% if pub.pdf %}<a href="{{ pub.pdf }}">{{ pub.title }}</a>{% elsif pub.arxiv %}<a href="https://arxiv.org/abs/{{ pub.arxiv }}">{{ pub.title }}</a>{% elsif pub.doi %}<a href="https://doi.org/{{ pub.doi }}">{{ pub.title }}</a>{% else %}{{ pub.title }}{% endif %}</strong>
    <div>
      {% for author in pub.authors %}{% include person person=author %}{% if pub.equal_contrib and site.data.people[author].me and forloop.index <= pub.equal_contrib %} (co-first author){% endif %}{% unless forloop.last %}, {% endunless %}{% endfor %}.
      {% if pub.venue %}<i>{{ pub.venue }}</i>, {% endif %}{{ pub.year }}.
      {% for award in pub.awards %}<strong class="award"><i class="fas fa-trophy" aria-hidden="true"></i> {{ award }}</strong>{% endfor %}
    </div>
  </div>
{% endfor %}

</section>
