<footer>
  <div class="container">
    <div class="footer-col">
      Hello from Hong Kong.<br/>
      <abbr title="Last build on {{ site.time | date: '%Y-%m-%d' }}">{{ site.time | date: '%B %Y' }}</abbr>
    </div>
    <div class="footer-col">
      <a href="https://github.com/{{ site.github_username }}/{{ site.github_username }}.github.io/edit/master/{{ page.path }}">Edit this page</a>
    </div>
    <div class="footer-col site-desc">{{ site.description }} Find me on <a href="https://github.com/{{ site.github_username }}">GitHub</a> and <a href="{{ site.google_scholar }}">Google Scholar</a>.</div>
  </div>
</footer>
