{% assign current = page.url | downcase | split: '/' %}
<header class="page-header">
  <nav class="container">
    <a class="site-title" href="{{ absolute_url }}/">{{ site.title }}</a>

    <a href="{{ '/research/' | relative_url }}" {% if current[1] == 'research' %}aria-current="page"{% endif %}>Research</a>
    <a href="{{ '/publications/' | relative_url }}" {% if current[1] == 'publications' %}aria-current="page"{% endif %}>Publications</a>
    <a href="{{ '/daily-interest/' | relative_url }}" {% if current[1] == 'daily-interest' %}aria-current="page"{% endif %}>Daily Interest</a>
    <a href="{{ '/cv/' | relative_url }}" {% if current[1] == 'cv' %}aria-current="page"{% endif %}>CV</a>

    <span class="external">
      {% if site.google_scholar %}<a href="{{ site.google_scholar }}"><i class="ai ai-google-scholar" aria-hidden="true"></i> Scholar</a>{% endif %}
      <a href="mailto:{{ site.email }}"><i class="fa-solid fa-envelope" aria-hidden="true"></i> Email</a>
    </span>
  </nav>
</header>
