{% assign pub = include.pub %}
{% assign rlink = pub.link %}
{% unless rlink %}{% assign rlink = pub.pdf %}{% endunless %}
{% unless rlink %}{% if pub.doi %}{% assign rlink = "https://doi.org/" | append: pub.doi %}{% endif %}{% endunless %}
{% unless rlink %}{% if pub.arxiv %}{% assign rlink = "https://arxiv.org/abs/" | append: pub.arxiv %}{% endif %}{% endunless %}
{% assign shortname = pub.title | split: ":" | first | strip %}
{% assign subtitle = pub.title | split: ":" | last | strip %}
<div class="project">
  <span class="title">{% for award in pub.awards %}<i class="fas fa-{% if award contains "Best Paper" %}trophy{% elsif award contains "Test-of-Time" %}clock{% else %}award{% endif %} award-icon" title="{{ award }}"></i> {% endfor %}{{ shortname }}</span>
  {% if pub.awards %}<span class="card-venue">{% for award in pub.awards %}{{ award }}{% unless forloop.last %}, {% endunless %}{% endfor %}</span>{% elsif pub.venue %}<span class="card-venue">{{ pub.venue }}{% unless pub.no_year %} {{ pub.year }}{% endunless %}</span>{% endif %}
  {% if pub.image %}
    {% if rlink %}<a href="{{ rlink }}" class="preview-image" style="background-image: url('{{ pub.image | relative_url }}')"></a>
    {% else %}<span class="preview-image" style="background-image: url('{{ pub.image | relative_url }}')"></span>{% endif %}
  {% else %}
    {% if rlink %}<a href="{{ rlink }}" class="preview-image preview-blank"></a>
    {% else %}<span class="preview-image preview-blank"></span>{% endif %}
  {% endif %}
  {% if pub.description %}<p>{{ pub.description }}</p>{% elsif subtitle != shortname %}<p>{{ subtitle }}</p>{% else %}<p></p>{% endif %}
  {% if pub.authors %}<span class="card-authors">{% for author in pub.authors %}{% include person person=author %}{% if pub.equal_contrib and forloop.index <= pub.equal_contrib %}<sup>*</sup>{% endif %}{% unless forloop.last %}, {% endunless %}{% endfor %}{% if pub.equal_contrib %} <span class="equal-note"><sup>*</sup> Co-first authors</span>{% endif %}</span>{% endif %}
  <div class="spacer"></div>
  <div class="links">
    {% if pub.pdf %}
      <a href="{{ pub.pdf }}"><i class="far fa-file-pdf" aria-hidden="true"></i> Paper</a>
    {% elsif pub.arxiv %}
      <a href="https://arxiv.org/pdf/{{ pub.arxiv | cgi_escape }}.pdf"><i class="far fa-file-pdf" aria-hidden="true"></i> Paper</a>
    {% endif %}
    {% if pub.link %}
      <a href="{{ pub.link }}"><i class="fas fa-link" aria-hidden="true"></i> Project</a>
    {% endif %}
    {% if pub.video %}
      <a href="{{ pub.video }}"><i class="fas fa-film" aria-hidden="true"></i> Video</a>
    {% endif %}
    {% if pub.doi %}
      <a href="https://doi.org/{{ pub.doi }}"><i class="fas fa-book" aria-hidden="true"></i> DOI</a>
    {% endif %}
  </div>
</div>
