@use "_vars" as *;

.projects {
  .lead {
    font-size: 1.2em;
  }

  h3 {
    font-size: 1.2em;
    margin-top: 1em;
    margin-bottom: 0.3em;
  }

  .preview-image.preview-blank {
    background-color: $grey-color-lightest;
    background-image: none;
  }

  .card-venue {
    display: block;
    color: $grey-color;
    font-size: 0.95em;
    font-weight: 400;
    margin: 0 0 0.55em 0;
  }

  .card-authors {
    display: block;
    color: $grey-color-dark;
    font-size: 0.85em;
    font-weight: 300;
    line-height: 1.4;
    margin: 0;

    a {
      color: $grey-color-dark;
    }
  }

  .award-icon {
    margin-right: 0.15em;

    &.fa-trophy {
      color: $yellow-color;
    }

    &.fa-clock {
      color: $green-color;
    }

    &.fa-award {
      color: firebrick;
    }
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;

    .project {
      display: flex;
      flex-direction: row;
      align-items: stretch;

      border-radius: 4px;
      padding: 16px;
      border: 1px solid #ddd;

      transition: box-shadow 0.2s ease;

      &:hover {
        box-shadow: #aaa 2px 2px 11px;
      }

      .project-body {
        display: flex;
        flex-direction: column;
        flex: 1;
        min-width: 0;
      }

      .spacer {
        flex: 1;
        min-height: 0.75em;
      }

      .title {
        margin: 0 0 0.3em 0;
        font-size: 1.25em;
        font-weight: bold;
        line-height: 1.25;
      }

      p {
        font-size: 1em;
        margin: 0 0 0.55em 0;
        line-height: 1.4;

        &:empty {
          display: none;
        }
      }

      .preview-image {
        display: block;
        flex: 0 0 30%;
        align-self: stretch;
        min-height: 150px;
        margin-right: 18px;
        border: 1px solid #f1f1f1;
        border-radius: 3px;

        background-size: cover;
        background-position: top left;

        transition: background-position 2.5s ease;
      }

      &:hover .preview-image {
        background-position: bottom right;
      }

      .links {
        font-size: 0.85em;

        a {
          margin-right: 0.7em;
          display: inline-block;
        }
      }
    }
  }

  @include media-query($on-palm) {
    .grid {
      .project {
        .preview-image {
          flex-basis: 38%;
          min-height: 110px;
        }
      }
    }
  }
}
